arch:
- aarch64
- amd64
description: Chromium runner in headless mode for browser automation
image: ghcr.io/miaucl/{arch}-chromium-runner
init: false
map:
- share:rw
name: Chromium Runner
panel_admin: false
panel_icon: mdi:google-chrome
ports:
  9223/tcp: 9222
slug: chromium_runner
tmpfs: true
url: https://github.com/miaucl/ha-addons/tree/main/chromium-runner
version: 3.18.0
